body {
    position: relative;
}

.bd-toc nav ol ol {
    padding-left: 1.5rem;
    /* Increase indentation */
}

/* Style for the active title in TOC */
.bd-toc .nav-link.active {
    color: white !important;
    background-color: var(--bd-violet) !important;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    font-weight: bold;
}